<div class="wrapper wrapper--top-nav">
    <div class="wrapper-box">
       <!-- BEGIN: Content -->
       <div class="content">
          <div class="grid grid-cols-12 gap-6">
             <div class="col-span-12 xxl:col-span-9">
                <div class="grid grid-cols-12 gap-6">
                   <div class="col-span-12 xl:col-span-9 lg:col-span-10 mt-2">
                      <div class="report-box-2 intro-y mt-12 sm:mt-5">
                         <div class="box">
                            <div class="px-8 py-12 flex flex-col justify-center flex-1">
                               <div class="intro-y text-justify leading-relaxed">
                                  <br>
                                  <div class="ads-box__title w-full sm:w-52 text-theme-17 dark:text-white text-xl -mt-3" style="width: 100%;font-size: 25px;">Information At Your Tips</div>
                                  <br>
                                    <!-- <div class="ml-4 ads-box__title w-full sm:w-52 text-theme-17 dark:text-white text-xl -mt-3" style="width: 100%;font-size: 20px;">Welcome to NEC</div> -->
                                    <!-- <div class="mx-6 pb-8" style="margin-left: 0px;margin-right: 0px;"> <div class="fade-mode"> <div class="h-64 px-2"> <div class="h-full image-fit rounded-md overflow-hidden"> <img alt="Icewall Tailwind HTML Admin Template" src="../assets/images/slide-1.jpg" /> </div> </div> </div> </div>  -->
                                    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/kqHe6wAHidA" allowfullscreen frameborder="0" allow="autoplay;"></iframe>
                                    <br>
                                    <div class="p-5 border-t border-gray-200 
                                        dark:border-dark-5"></div>

                                    <div class="ml-4 ads-box__title w-full sm:w-52 text-theme-17 dark:text-white text-xl -mt-3" style="width: 100%;font-size: 20px;">Joining Details</div>
                                    <br>
                                    <p class=""></p>
                                        <ul class="ml-6" style="list-style:circle;">
                                            <li><b>Joining Date</b> - 1 Aug, 2022</li>
                                            <li><b>Joining Place</b> - Noida</li>
                                            <li><b>SPOC</b> - John Miller</li>
                                            <li><b>Manager</b> - Hobb James</li>
                                            <li><b>BU HR</b> - Anthony Hopkins</li>
                                        </ul>
                                    <div class="p-5 border-t border-gray-200 
                                        dark:border-dark-5"></div>

                                    <div class="ml-4 ads-box__title w-full sm:w-52 text-theme-17 dark:text-white text-xl -mt-3" style="width: 100%;font-size: 20px;">Joining Process</div>
                                    <br>
                                    <p class="ml-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae odio nec massa condimentum cursus. Cras in nunc eget lectus ultricies elementum. Maecenas egestas non nisi eget porttitor. Sed arcu magna, iaculis at aliquam ut, lobortis quis nisl. Curabitur feugiat, neque in luctus bibendum, diam risus tincidunt orci, sed venenatis massa risus in nisi. Maecenas varius mattis mauris, et imperdiet ligula. Proin eros sem, fringilla non elementum ullamcorper, rutrum vitae ex. Curabitur mi dui, porta quis posuere vel, feugiat sed diam.

                                        Nam ac dui a nibh mollis posuere. In gravida facilisis arcu a blandit. Vestibulum hendrerit rutrum ex et accumsan. Morbi eu congue urna. Pellentesque nec ex posuere, ullamcorper nisl eget, sagittis augue. Donec elementum sollicitudin turpis ut consequat. Fusce et augue vitae justo suscipit pharetra. Sed ut interdum tellus, vitae ornare risus. Sed condimentum purus eget felis sodales, non fermentum orci rutrum. Pellentesque iaculis tellus velit, in rutrum augue tincidunt a. Duis commodo magna non tristique consectetur.</p>
                                    <div class="p-5 border-t border-gray-200 
                                        dark:border-dark-5"></div>

                                    <div class="ml-4 ads-box__title w-full sm:w-52 text-theme-17 dark:text-white text-xl -mt-3" style="width: 100%;font-size: 20px;">NEC Policies</div>
                                    <br>
                                    <p class=""></p>
                                        <ul class="ml-6" style="list-style:circle;">
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                            <li>Phasellus vel turpis eu odio eleifend egestas sed nec ex.</li>
                                            <li>Nulla consectetur odio volutpat metus eleifend interdum.</li>
                                            <li>Phasellus dignissim massa vel libero porta ullamcorper.</li>
                                            <li>Quisque sed diam at lectus placerat ullamcorper.</li>
                                            <li>Sed venenatis massa non nisi pharetra, ac condimentum justo auctor.</li>
                                            <li>Proin interdum lorem in nibh dapibus, at pharetra ex sollicitudin.</li>
                                            <li>Vestibulum euismod elit at nisl rhoncus elementum.</li>
                                        </ul>
                                    <div class="p-5 border-t border-gray-200 
                                        dark:border-dark-5"></div>

                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="col-span-12 xl:col-span-3 lg:col-span-2 sm:col-span-6  mt-2 lg:mt-6 xl:mt-2">
                    <div class="box p-5 mt-6 bg-theme-14 intro-x">
                        <div class="flex flex-wrap gap-3">
                           <div class="mr-auto">
                              <div class="text-white text-opacity-70 flex items-center leading-3"> YOUR SCORE <i data-feather="alert-circle" class="tooltip w-4 h-4 ml-1.5" title="Total value of your score: 80"></i> </div>
                              <div class="text-white relative text-2xl font-medium leading-5 pl-4 mt-3.5">
                                 <span class="absolute text-xl top-0 left-0 -mt-1.5">
                                    <!-- $ -->
                                 </span>
                                 80
                              </div>
                           </div>
                        </div>
                     </div>
                      <!-- BEGIN: Profile Menu -->
                      <div class="col-span-12 lg:col-span-4 xxl:col-span-3 flex lg:block flex-col-reverse">
                         <div class="intro-y box mt-5">
                            <div class="relative flex items-center p-5">
                            </div>
                            <div class="btn btn-primary w-full" style="cursor: default;">Quick Links</div>
                            <div class="p-5 border-t border-gray-200 dark:border-dark-5">
                                <a class="ml-6 mb-2 flex items-center text-theme-17 dark:text-gray-300 font-medium" href="#" routerLink="/home">
                                    Home
                                </a>
                                <a class="ml-6 mb-2 flex items-center text-theme-17 dark:text-gray-300 font-medium" href="#" routerLink="/information_at_your_tips">
                                    Infomation at your Tips
                                </a>
                                <a class="ml-6 mb-2 flex items-center text-theme-17 dark:text-gray-300 font-medium" href="#" routerLink="/code_of_values">
                                    Our Code of Values
                                </a>
                                <a class="ml-6 mb-2 flex items-center text-theme-17 dark:text-gray-300 font-medium" href="#" routerLink="/policies_walkthrough">
                                    Policies Walkthrough
                                </a>
                                <a class="ml-6 mb-2 flex items-center text-theme-17 dark:text-gray-300 font-medium" href="#" routerLink="/checklist">
                                    Checklist
                                </a>
                                <a class="ml-6 mb-2 flex items-center text-theme-17 dark:text-gray-300 font-medium" href="#" routerLink="/mandatory_trainings">
                                    Mandatory Trainings
                                </a>
                            </div>
                            <!-- <div class="p-5 border-t border-gray-200 dark:border-dark-5 flex">
                               <button type="button" class="btn btn-primary py-1 px-2" style="margin-left: 25px;">Upload Documents</button>
                            </div> -->
                         </div>
                      </div>
                   </div>
                   <div class="col-span-12 lg:col-span-6 mt-6">
                      <div class="ads-box box p-8 relative overflow-hidden intro-y">
                         <div class="ads-box__title w-full sm:w-52 text-theme-17 dark:text-white text-xl -mt-3" style="width: 100%;font-size: 25px;padding-bottom: 20px;">Welcome To <span class="font-medium">NEC</span> Family</div>
                         <div class="w-full sm:w-60 leading-relaxed text-gray-600 mt-2">
                            <!-- Get a IDR 100,000 voucher by inviting your friends to fund #BecomeMember --><br>
                         </div>
                         <div class="w-48 relative mt-6 cursor-pointer tooltip" title="Copy referral link">
                            <button class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top">Know More</button>
                         </div>
                         <img class="hidden sm:block absolute top-0 right-0 w-1/2 mt-1 -mr-12" alt="Icewall Tailwind HTML Admin Template" src="../assets/images/phone-illustration.svg">
                      </div>
                   </div>
                   <!-- END: Ads 2 -->
                </div>
             </div>
             <div class="col-span-12 xxl:col-span-3">
                <div class="xxl:border-l border-theme-25 -mb-10 pb-10">
                   <div class="xxl:pl-6 grid grid-cols-12 gap-6">
                   </div>
                </div>
             </div>
          </div>
       </div>
       <!-- END: Content -->
    </div>
 </div>