<div class="wrapper">
    <div class="main">
        <div class="signup">
            <a href="" class="-intro-x hidden md:flex">
                <img class="w-6" src="../assets/images/logo_nec.svg">
                <span class="text-white ml-3" style="font-size: 1.005rem;"> Orchestrating<span class="font-medium"
                        style="color: #FFA500 !important;"> a brighter world</span> </span>
            </a>
            <form #userLogin="ngForm">
                <input type="email" name="email" [(ngModel)]="formData.email" #email="ngModel" placeholder="Email" required="" style="margin-top: 100px;">
                <input type="password" name="pswd" [(ngModel)]="formData.pswd" #pswd="ngModel" placeholder="Password" required="">
                <input class="submit_btn" type="submit" value="Login" (click)="onSubmit()">
            </form>
        </div>
    </div>
</div>