<div class="wrapper wrapper--top-nav">
   <div class="wrapper-box">
      <!-- BEGIN: Content -->
      <div class="content">
         <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12 xxl:col-span-9">
               <div class="grid grid-cols-12 gap-6">
                  <div class="col-span-12 xl:col-span-9 lg:col-span-10 mt-2">
                     <div class="report-box-2 intro-y mt-12 sm:mt-5">
                        <div class="box">
                           <div class="px-8 py-12 flex flex-col justify-center flex-1">
                              <div class="intro-y text-justify leading-relaxed">
                                 <br>
                                 <div class="ads-box__title w-full sm:w-52 text-theme-17 dark:text-white text-xl -mt-3" style="width: 100%;font-size: 25px;">Checklist
                                 </div>

                                 <div class="flex" style="float: right;">
                                    <button type="button" class="btn btn-primary py-1 px-2" style="margin-left: 25px;">Upload Documents</button>
                                 </div>
                                 <br>
                                   <span class="">
                                    <input class="checkbox-mag" type="checkbox" name="vehicle3" value="Boat" checked>
                                    <label style="font-size: 1.2rem;" for="vehicle3">&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label><br><br>
                                    <input class="checkbox-mag" type="checkbox" name="vehicle3" value="Boat">
                                    <label style="font-size: 1.2rem;" for="vehicle3">&nbsp;Nunc imperdiet est quis est pharetra, in convallis ipsum tincidunt.</label><br><br>
                                    <input class="checkbox-mag" type="checkbox" name="vehicle3" value="Boat">
                                    <label style="font-size: 1.2rem;" for="vehicle3">&nbsp;Sed suscipit elit vel ipsum varius, sed suscipit est commodo.</label><br><br>
                                    <input class="checkbox-mag" type="checkbox" name="vehicle3" value="Boat" checked>
                                    <label style="font-size: 1.2rem;" for="vehicle3">&nbsp;Morbi dignissim mauris sed arcu convallis, laoreet elementum lectus malesuada.</label><br><br>
                                    <input class="checkbox-mag" type="checkbox" name="vehicle3" value="Boat" checked>
                                    <label style="font-size: 1.2rem;" for="vehicle3">&nbsp;Nunc vehicula lacus nec varius tristique.</label><br><br>
                                    <input class="checkbox-mag" type="checkbox" name="vehicle3" value="Boat">
                                    <label style="font-size: 1.2rem;" for="vehicle3">&nbsp;Curabitur at mauris auctor, laoreet est sit amet, interdum massa.</label><br><br>
                                    <input class="checkbox-mag" type="checkbox" name="vehicle3" value="Boat" checked>
                                    <label style="font-size: 1.2rem;" for="vehicle3">&nbsp;Proin placerat dolor a finibus mollis.</label><br><br>
                                    <input class="checkbox-mag" type="checkbox" name="vehicle3" value="Boat">
                                    <label style="font-size: 1.2rem;" for="vehicle3">&nbsp;Nullam pharetra dui et ante hendrerit, vitae tincidunt diam elementum.</label><br><br>
                                    <input class="checkbox-mag" type="checkbox" name="vehicle3" value="Boat" checked>
                                    <label style="font-size: 1.2rem;" for="vehicle3">&nbsp;Phasellus rhoncus nisi nec molestie tincidunt.</label><br><br>
                                    <input class="checkbox-mag" type="checkbox" name="vehicle3" value="Boat" checked>
                                    <label style="font-size: 1.2rem;" for="vehicle3">&nbsp;Cras vel sapien sit amet augue sollicitudin congue.</label><br><br>

                                   </span>

                                   <div class="p-5 border-t border-gray-200 
                                       dark:border-dark-5"></div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-span-12 xl:col-span-3 lg:col-span-2 sm:col-span-6  mt-2 lg:mt-6 xl:mt-2">
                   <div class="box p-5 mt-6 bg-theme-14 intro-x">
                       <div class="flex flex-wrap gap-3">
                          <div class="mr-auto">
                             <div class="text-white text-opacity-70 flex items-center leading-3"> YOUR SCORE <i data-feather="alert-circle" class="tooltip w-4 h-4 ml-1.5" title="Total value of your score: 80"></i> </div>
                             <div class="text-white relative text-2xl font-medium leading-5 pl-4 mt-3.5">
                                <span class="absolute text-xl top-0 left-0 -mt-1.5">
                                   <!-- $ -->
                                </span>
                                80
                             </div>
                          </div>
                       </div>
                    </div>
                     <!-- BEGIN: Profile Menu -->
                     <div class="col-span-12 lg:col-span-4 xxl:col-span-3 flex lg:block flex-col-reverse">
                        <div class="intro-y box mt-5">
                           <div class="relative flex items-center p-5">
                           </div>
                           <div class="btn btn-primary w-full" style="cursor: default;">Quick Links</div>
                           <div class="p-5 border-t border-gray-200 dark:border-dark-5">
                               <a class="ml-6 mb-2 flex items-center text-theme-17 dark:text-gray-300 font-medium" href="#" routerLink="/home">
                                   Home
                               </a>
                               <a class="ml-6 mb-2 flex items-center text-theme-17 dark:text-gray-300 font-medium" href="#" routerLink="/information_at_your_tips">
                                   Infomation at your Tips
                               </a>
                               <a class="ml-6 mb-2 flex items-center text-theme-17 dark:text-gray-300 font-medium" href="#" routerLink="/code_of_values">
                                   Our Code of Values
                               </a>
                               <a class="ml-6 mb-2 flex items-center text-theme-17 dark:text-gray-300 font-medium" href="#" routerLink="/policies_walkthrough">
                                   Policies Walkthrough
                               </a>
                               <a class="ml-6 mb-2 flex items-center text-theme-17 dark:text-gray-300 font-medium" href="#" routerLink="/checklist">
                                   Checklist
                               </a>
                               <a class="ml-6 mb-2 flex items-center text-theme-17 dark:text-gray-300 font-medium" href="#" routerLink="/mandatory_trainings">
                                   Mandatory Trainings
                               </a>
                           </div>
                           <!-- <div class="p-5 border-t border-gray-200 dark:border-dark-5 flex">
                              <button type="button" class="btn btn-primary py-1 px-2" style="margin-left: 25px;">Upload Documents</button>
                           </div> -->
                        </div>
                     </div>
                  </div>
                  <div class="col-span-12 lg:col-span-6 mt-6">
                     <div class="ads-box box p-8 relative overflow-hidden intro-y">
                        <div class="ads-box__title w-full sm:w-52 text-theme-17 dark:text-white text-xl -mt-3" style="width: 100%;font-size: 25px;padding-bottom: 20px;">Welcome To <span class="font-medium">NEC</span> Family</div>
                        <div class="w-full sm:w-60 leading-relaxed text-gray-600 mt-2">
                           <!-- Get a IDR 100,000 voucher by inviting your friends to fund #BecomeMember --><br>
                        </div>
                        <div class="w-48 relative mt-6 cursor-pointer tooltip" title="Copy referral link">
                           <button class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top">Know More</button>
                        </div>
                        <img class="hidden sm:block absolute top-0 right-0 w-1/2 mt-1 -mr-12" alt="Icewall Tailwind HTML Admin Template" src="../assets/images/phone-illustration.svg">
                     </div>
                  </div>
                  <!-- END: Ads 2 -->
               </div>
            </div>
            <div class="col-span-12 xxl:col-span-3">
               <div class="xxl:border-l border-theme-25 -mb-10 pb-10">
                  <div class="xxl:pl-6 grid grid-cols-12 gap-6">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- END: Content -->
   </div>
</div>